<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todo List</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>ToDo App</h1>
        <form v-on:submit.prevent="addTodo">
            <label>New ToDo</label>
            <input type="text" v-model="content">
            <button>Add ToDo</button>
        </form>
        
        <h2>ToDo List( {{todos.length}} )</h2>
        <ul>
            <li v-for="(todo , index) in todos"> 
                <!-- <span v-if="todo.done" @click="doIt(todo)">{{todo.content}}</span>
                <span v-else style="text-decoration: line-through;" @click="doIt(todo)">{{todo.content}}</span>  -->
                <span v-bind:class="{ done: todo.done ,notDone: !todo.done}" @click="doIt(todo)"> {{todo.content}} </span>
                <button @click="removeTodo(index)">X</button></li>

        </ul>
    </div>

    <script>
        const App = {
            data() {
                return {
                    todos:[
                        {content: 'กินข้าว',done:false},
                        {content: 'อ่านหนังสือ',done:true}
                    ],
                    content: '',
                }
            },methods:{
                addTodo(){
                    // console.log(this.content) //Debug
                    this.todos.push( {content: this.content,done:false})
                    this.content=''
                },
                removeTodo(index){
                    // console.log(index);
                    this.todos.splice(index,1)
                },
                doIt(todo){
                    todo.done = !todo.done
                    console.log(todo)
                }
            }
        }
        Vue.createApp(App).mount("#app");
    </script>
    <style>
        .done{
            color:gray;
            text-decoration: line-through;
        }
        .notDone{
            color:blue
        }
    </style>
</body>
</html>